In [16]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import trim_mean

## Métricas Robustas para Localização

In [17]:
homicidio = {'Estado': {0: 'Alabama',
                        1: 'Alasca',
                        2: 'Arizona',
                        3: 'Arkansas',
                        4: 'Califórnia',
                        5: 'Colorado',
                        6: 'Connecticut',
                        7: 'Delaware'
    
},
    'População': {
        0: 4779736,
        1: 710231,
        2: 6392017,
        3: 2915918,
        4: 37252956,
        5: 5029196,
        6: 3574097,
        7: 897934
        
    },
             'Taxa de Homicídio': {0: 5.7,
                                  1: 5.6,
                                  2: 4.7,
                                  3: 5.6,
                                  4: 4.4,
                                  5: 2.8,
                                   6: 2.4,
                                   7: 5.8
                                  }
}

In [18]:
dados = pd.DataFrame(homicidio)
dados

        Estado  População  Taxa de Homicídio
0      Alabama    4779736                5.7
1       Alasca     710231                5.6
2      Arizona    6392017                4.7
3     Arkansas    2915918                5.6
4   Califórnia   37252956                4.4
5     Colorado    5029196                2.8
6  Connecticut    3574097                2.4
7     Delaware     897934                5.8

In [29]:
# média
dados['População'].mean()

7694010.625

In [27]:
# média aparada
trim_mean(dados.População, 0.1)

7694010.625

In [30]:
# mediana
dados['População'].median()

4176916.5

## Estimativas de Variabilidade