# Dicionários em Python

Conjunto não ordenado de pares chave:valor, onde as chaves são únicas em uma dada instância do dicionário. Dicionários são delimitados por chaves: {}, e contém uma lista de pares chave:valor separada por vígulas.

### Criando e acessando dados dos dicionários

In [5]:
pessoas = dict(nome = ['João', 'Maria', 'Fernanda'], idade = [28, 20, 31])

In [11]:
pessoas

{'nome': ['João', 'Maria', 'Fernanda'], 'idade': [28, 20, 31]}

In [12]:
for pessoa in pessoas:
    print(pessoa, pessoas[pessoa])

nome ['João', 'Maria', 'Fernanda']
idade [28, 20, 31]

In [13]:
for pessoa, valor in pessoas.items() :
    print(pessoa, valor)

nome ['João', 'Maria', 'Fernanda']
idade [28, 20, 31]

In [14]:
pessoas.clear()

In [15]:
pessoas

{}

In [16]:
pessoas = dict(nome = ['João', 'Maria', 'Fernanda'], idade = [28, 20, 31])

In [17]:
copia = pessoas.copy()

In [18]:
copia

{'nome': ['João', 'Maria', 'Fernanda'], 'idade': [28, 20, 31]}

In [19]:
import pandas as pd

In [20]:
df = pd.DataFrame(pessoas)

In [21]:
df

       nome  idade
0      João     28
1     Maria     20
2  Fernanda     31

In [24]:
novodict = dict.fromkeys(['Nome', 'Idade', 'Telefone'], 'Vazio')
novodict

{'Nome': 'Vazio', 'Idade': 'Vazio', 'Telefone': 'Vazio'}

In [25]:
carro = {"marca": "Fiat", "modelo": "palio", "placa": "ABD-9826"}

In [28]:
carro.get("marca")

'Fiat'